DEFAULT menu.c32
PROMPT 0
TIMEOUT 30
MENU TITLE Boot Menu

LABEL 1
   MENU LABEL Network boot
   KERNEL CentOS_7/rootfs/boot/vmlinuz-3.10.0-1160.31.1.el7.x86_64
   APPEND initrd=CentOS_7/rootfs/boot/initramfs-3.10.0-1160.31.1.el7.x86_64.img root=nfs:10.0.0.1:/cluster/nodes/CentOS_7/rootfs ipmi_si.force_kipmid=0 numa_balancing=disable

