DEFAULT menu.c32
PROMPT 0
TIMEOUT 30
MENU TITLE Boot Menu

LABEL 1
   MENU LABEL Network boot
   KERNEL EL9/rootfs/boot/vmlinuz-5.14.0-162.23.1.el9_1.x86_64
   APPEND initrd=EL9/rootfs/boot/initramfs-5.14.0-162.23.1.el9_1.x86_64.img root=nfs:10.0.0.1:/cluster/nodes/EL9/rootfs ipmi_si.force_kipmid=0 numa_balancing=disable

